:root {
    --bs-navbar-height: 56px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    margin-top: var(--bs-navbar-height);
}

section:not(#carousel) {
    min-height: calc(100vh - var(--bs-navbar-height));
    padding-top: 70px;
}

section#carousel {
    height: calc(100vh - var(--bs-navbar-height));
}

section .container {
    height: auto;
}

section#about {
    background: #ccc;
}

#profile img {
    width: 150px;
    border-radius: 50%;
}

.carousel .carousel-inner img {
    max-width: 100vw;
    max-height: calc(100vh - var(--bs-navbar-height));
    width: auto;
    height: auto;
}

.underlined {
    display: block;
}

.modal-header {
    background-color: transparent !important;
}

#img-space img {
    width: 300px;
    transition: transform .3s ease-in-out;
    border-radius: 20px;
}

#img-space img:active {
    pointer-events: none;
}

#img-space img:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 998px) {
    section {
        height: auto;
    }
}